<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
      http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

  <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    <property name="prefix" value="/WEB-INF/jsp/html/" />
    <property name="suffix" value=".jsp" />
  </bean>

  <!-- webservice client para el servicio web de Clientes -->
  <jaxws:client id="serviciosRegistrarDuenio" 
          serviceClass="upc.iluminados.ws.ServiciosRegistrarDuenio"
          address="http://localhost:8080/FulbitoFacilServicios/ServiciosRegistrarDuenio"/>
          
    <!-- Service que se encargara de realizar las llamadas a los servicios web y mapear
      los datos necesarios para la aplicacion -->
  <bean id="service" class="upc.iluminados.service.ServiceImpl" >
    <property name="serviciosRegistrarDuenio" ref="serviciosRegistrarDuenio" />
  </bean>
  
 

  

</beans>